<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BatteryAnimation"
        tools:targetApi="31">
        <activity
            android:name=".activity.HowToUseActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9844943887550892~3838660273" />

        <activity
            android:name=".activity.LanguagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BatteryAnimationEditApplyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApplySuccessfullyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmojiEditApplyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatusBarGestureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatusBarIconSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StatusBarCustomizeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".NotchAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".service.BatteryWidgetForegroundService"
            android:enabled="true"
            android:foregroundServiceType="specialUse" /> <!-- <receiver -->
        <!-- android:name=".broadcastReciver.BatteryLevelReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BATTERY_CHANGED" /> -->
        <!-- <action android:name="com.lowbyte.battery.animation.ACTION_UPDATE_WIDGET" /> -->
        <!-- <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".broadcastReciver.BatteryWidgetProvider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_widget_info" />
        </receiver>

        <activity
            android:name=".activity.BatteryWidgetEditApplyActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_signal_mobile" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue_app_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
    </application>

</manifest>